@import "src/Common/Styles/SASS/Variables";
@import "src/Common/Styles/Mixins/Mixins";


  .skill {
    width: 150px;
    height: 150px;
    transition: ease all 0.7s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid $lineColor;

    &:hover {
      background-color: #bd969c;
    }
    &:hover .icon {
      filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(122deg) brightness(112%) contrast(101%);
    }
    &:hover h3 {
      color: #ffffff;
    }

    .icon {
      height: 80px;
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      margin-top: 10px;
      filter: invert(14%) sepia(1%) saturate(0%) hue-rotate(168deg) brightness(98%) contrast(40%);

      @media (max-width: 892px) {
        width: 60px;
        height: 60px;
      }

      @media (max-width: 700px) {
        width: 55px;
        height: 55px;
        margin-bottom: 5px;
        margin-top: 10px;
      }
    }

    h3 {
      @include text($font, 16px, 1.2, 800);
      color: #464646;

      @media (max-width: 892px) {
        font-size: 20px;
      }
      @media (max-width: 700px) {
        font-size: 17px;
      }
      @media (max-width: 500px) {
        font-size: 15px;
      }
    }
    @media (max-width: 892px) {
      width: 135px;
      height: 135px;
    }
    @media (max-width: 700px) {
      width: 130px;
      height: 130px;
    }
  }




