@import "../../Common/Styles/SASS/Variables";

.projectsBlock {
  background-color: $backgroundColor;
  padding: 10px 10px 50px;
  min-height: calc(100vh - 50px);
  position: relative;

  .projectsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;

      @media (max-width: 1356px) {
        gap: 30px;
      }
      @media (max-width: 1000px) {
        gap: 20px;
      }
      @media (max-width: 900px) {
        justify-content: flex-end;
        gap: 30px;
      }
      @media (max-width: 900px) {
        justify-content: center;
      }
      @media (max-width: 800px) {
        margin-left: 0;
        justify-content: space-between;
      }
      @media (max-width: 580px) {
        justify-content: center;
        gap: 20px;
      }
    }
  }
}



