.contactsBlock {
    padding-bottom: 70px;
    background-color: #bd969c;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

}


.title {
    background-color: #c7adb1;
}

.btn{

}

.form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media screen and (max-width: 500px) {
    .form {
        width: 100%;
    }
}

.input {
    margin-bottom: 20px;
}

.textarea {

}
