.remoteWorkBlock {
    height: 250px;
    background-color: #e1c6ca;
}

.remoteWorkContainer {
    display: flex;
    flex-direction: column;
    height: 200px;
}


.title {
    background-color: #c7adb1;
}

.btn{

}

