@import "src/Common/Styles/SASS/Variables";
@import "src/Common/Styles/Mixins/Mixins";

.mainBlock {
  height: calc(100vh - 50px);
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media(max-width: 800px) {
    flex-direction: row;
   justify-content: space-around;
  }
  @media (max-width: 750px) {
    width: 100%;
  }
  @media (max-width: 500px) {
    justify-content: center;
    gap: 40px
  }


 /* @media (max-width: 700px) {
    display: grid;
    grid-template-columns: 30% 40%;
    grid-template-rows: 1fr  1fr;
    grid-column-gap: 10%;
    grid-template-areas:
               "photo  text"
               "photo download";
  }*/
 /* @media (max-width: 500px) {
    grid-template-columns: 25% 40%;
    grid-column-gap: 20%;
  }*/
  /*@media (max-width: 400px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }*/

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 900px;
    z-index: 0;
    /*opacity: 0.3;*/
  }

  .photo {
    display: none;

    @media (max-width: 800px) {
      display: block;
      position: relative;

      .img {
        width: 250px;
        position: relative;

        @media (max-width: 750px) {
          width: 200px;
        }

        @media (max-width: 600px) {
          width: 180px;
        }
      }

      &:before {
        content: "";
        position: absolute;
        border: 3px solid #bd969c;
        left: 20px;
        top: 35px;
        width: 250px;
        height: 95%;
        z-index: 0;

        @media (max-width: 750px) {
          width: 200px;
        }
        @media (max-width: 600px) {
          width: 180px;
        }
      }
    }
    /*@media (max-width: 700px) {
      grid-area: photo;
    }*/
    /*@media (max-width: 400px) {
      margin-top: 20px;

    }*/

  }

  .textAndDownloadWrapper {
    //background-color: #61dafb;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @media(max-width: 900px) {
      flex-direction: column;
      gap: 60px
    }
    @media(max-width: 800px) {
      width: 50%;
      align-items: center;
    }
    @media(max-width: 550px) {
      justify-content: center;
      align-items: flex-start;
    }
    @media(max-width: 500px) {
      gap: 40px;
      width: 40%;
    }

    .text {
      margin-left: 10px;
      max-width: 300px;
      font-family: $font;
      color: $textTitleColor;

      @media (max-width: 1020px) {
        font-size: 16px;
        h1 {
          font-size: 20px;
        }
      }
      @media (max-width: 800px) {
        width: 100%;
        h1 {
          font-size: 20px;
        }
      }
      @media (max-width: 557px) {
        h1 {
          font-size: 19px;
        }
      }
      @media (max-width: 529px) {
        h1 {
          font-size: 18px;
        }
      }


     /* @media (max-width: 400px) {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        text-align: center;
        font-size: 16px;
        h1 {
          font-size: 20px;
        }
      }*/

      .printedText {
        font-size: 20px;

        @media (max-width: 1020px) {
          font-size: 18px;
        }
        @media (max-width: 750px) {
          font-size: 16px;
        }
        @media (max-width: 400px) {
        font-size: 15px;
      }



      }

      /*.downloadLink {
        display: none;

        @media(max-width: 400px) {
          height: 20px;
          display: inline;

        }

        a {
          @include text($font, 16px, 1, 500);
          color: $textTitleColor;
        }
      }*/
    }

    .downloadBlock {

      &:hover,
      &:active {
        transform: rotate3d(1, 1, 1, 0deg) scale3d(1.1, 1.1, 1.1);
        transition: .5s ease-in-out all;
      }

      @media (max-width: 850px) {
        //background-color: #61dafb;
        width: 120px;
        text-align: center;
      }

    /*  @media (max-width: 700px) {
        grid-area: download;
        margin-bottom: 90px;
        width: 200px;
      }*/
     /* @media (max-width: 550px) {
        margin-bottom: 130px;
        width: 150px;
      }*/
     /* @media (max-width: 430px) {
        margin-left: 10px;
        width: 100px;
      }
      @media (max-width: 400px) {
        display: none;
      }*/

      .message {
        text-decoration: none;
        @include text($font, 18px, 1, 500);
        color: $textDescriptionColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        @media(max-width: 1020px) {
          font-size: 15px;
        }

        @media (max-width: 550px) {
          display: flex;
          flex-direction: row;
          font-size: 14px;
        }


       /* @media(max-width: 430px) {
          text-align: center;
        }
        @media(max-width: 400px) {
          font-size: 12px;
        }*/

        &:hover,
        &:active {
          color: $textTitleColor;
        }

        img {
          filter: invert(14%) sepia(1%) saturate(0%) hue-rotate(168deg) brightness(98%) contrast(40%);

          &:hover,
          &:active {
            filter: invert(14%) sepia(1%) saturate(0%) hue-rotate(168deg) brightness(98%) contrast(90%);
          }

          @media(max-width: 1080px) {
            width: 120px;
          }
          @media(max-width: 1000px) {
            width: 90px;
          }
          @media(max-width: 700px) {
            width: 80px;
          }


          @media(max-width: 550px) {
            width: 60px;
          }
          @media(max-width: 400px) {
            width: 40px;
          }
        }
      }
    }
  }




}


