@import "src/Common/Styles/SASS/Variables";
@import "src/Common/Styles/Mixins/Mixins";


.skillsBlock {
    padding: 10px 10px 50px;
    background-color: $backgroundColor;
    min-height: calc(100vh - 50px);
    position: relative;

    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;

        .skills {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 50px;
            flex-wrap: wrap;

            @media (max-width: 975px) {
                gap: 30px;
            }
            @media (max-width: 910px) {
                gap: 25px;
            }
            @media (max-width: 892px) {
                justify-content: space-evenly;
            }
            @media (max-width: 817px) {
                gap: 15px;
            }
            @media (max-width: 500px) {
                gap: 15px;
                justify-content: space-evenly;
            }
        }
    }
}
