@import "src/Common/Styles/SASS/Variables";
@import "src/Common/Styles/Mixins/Mixins";


.skillsBlock {
    padding: 10px 10px 50px;
    background-color: $backgroundColor;
    min-height: calc(100vh - 50px);

    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;

        .skills {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 50px;
            flex-wrap: wrap;
        }
    }
}
