@import "../../Styles/SASS/Variables";
@import "../../Styles/Mixins/Mixins";


.title {
    @include text($font, 18px, 1.1, 500);
    color: $textTitleColor;

    letter-spacing: 7px;
    text-transform: uppercase;
    margin-left: 3px;
    margin-bottom: 30px;
    text-decoration-line: underline;
    text-decoration-color: $textTitleColor;

    @media (max-width: 1019px) {
        font-size: 16px;
        margin-bottom: 20px;
    }

    @media (max-width: 700px) {
        font-size: 14px;
        margin-bottom: 10px;
    }
}









