@import "../../Styles/SASS/Variables";
@import "../../Styles/Mixins/Mixins";


.title {
    @include text($font, 18px, 1.1, 500);
    color: $textTitleColor;
    position: relative;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-left: 3px;

    &::after {
        position: absolute;
        content: "";
        width: 50%;
        height: 1px;
        background-color: $textDescriptionColor;
        left: 100px;
        top: 110%;
        transform: translate(-22%);
    }
}









