@import "src/Common/Styles/SASS/Variables";
@import "src/Common/Styles/Mixins/Mixins";

.aboutBlock {
  padding: 10px 10px 50px;
  background-color: $backgroundColor;
  min-height: calc(100vh - 50px);
  position: relative;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;

    .aboutContainer {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      @media screen and (max-width: 1130px) {
        justify-content: center;
        flex-direction: column;
      }

      .leftBlock {
        width: 40%;
        @include text($font, 14px, 1.7, 400);
        color: $textDescriptionColor;

        @media screen and (max-width: 1130px) {
          width: 80%;
        }

        @media (max-width: 700px) {
          font-size: 12px;
        }
      }

      .rightBlock {
        width: 45%;
        display: flex;

        @media screen and (max-width: 1130px) {
          width: 80%;;
        }

        ul {
          padding: 0;

          li {
            display: flex;
            list-style-type: none;
            margin: 0 0 8px;
            width: 100%;
            float: left;

            .infoTitle {
              min-width: 120px;
              @include text($font, 16px, 1.5, 700);
              color: $textDescriptionColor;

              @media (max-width: 700px) {
                font-size: 12px;
              }
            }

            .infoDescr, a {
              min-width: 120px;
              @include text($font, 16px, 1.5, 400);
              color: $textDescriptionColor;
              text-decoration-line: none;

              @media (max-width: 700px) {
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    .linksContainer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .linkItem {
        width: 140px;
        height: 140px;
        text-decoration: none;
        @include text($font, 16px, 1, 500);
        color: $textDescriptionColor;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;

        &:hover,
        &:active {
          color: $textTitleColor;
          //border: 1px solid $textDescriptionColor;
          transition: .7s ease-in-out all;

        }

        img {
          filter: invert(14%) sepia(1%) saturate(0%) hue-rotate(168deg) brightness(98%) contrast(40%);

          &:hover,
          &:active {
            filter: invert(14%) sepia(1%) saturate(0%) hue-rotate(168deg) brightness(98%) contrast(100%);
            transition: .4s ease-in-out all;
            transform: rotate3d(1, 1, 1, 0deg) scale3d(1.1, 1.1, 1.1);
          }
        }
      }
    }
  }
}

