@import "../Common/Styles/SASS/Variables";
@import "../Common/Styles/Mixins/Mixins";

.aboutBlock {

  padding: 10px 10px 50px;

  .aboutContainer {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 1130px) {
      justify-content: center;
    }

    .leftBlock {
      width: 50%;
      @include text($font, 14px, 1.7, 400);
      color: $textDescriptionColor;
      padding: 10px 0;
    }

    .rightBlock {
      padding: 10px 10px;
      width: 50%;

      li {
        display: flex;
        list-style-type: none;
        margin: 0 0 8px;
        width: 100%;
        float: left;

        .infoTitle {
          min-width: 120px;
          @include text($font, 16px, 1.5, 700);
          color: $textDescriptionColor
        }
        .infoDescr {
          min-width: 120px;
          @include text($font, 16px, 1.5, 400);
          color: $textDescriptionColor
        }
      }
    }
    }
  }

