.skillsBlock {
    background-color: lightpink;
    padding-bottom: 70px;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.skills {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.title {
    background-color: #c7adb1;
}