.mainBlock {
    height: 100vh;
    background-color: #eac3c8;
}

.text {
    width: 300px;
    background-color: lightpink;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: lightpink;
}