@import "src/Common/Styles/SASS/Variables";
@import "src/Common/Styles/Mixins/Mixins";



.fixed {
  position: fixed;
  left: 0;
  top: 0;
  grid-area: header;
  z-index: 1;
  width: 80%;
  margin-left: 10%;

  @media (max-width: 750px) {
    width: 100%;
    margin-left: 0;
  }
  @media (max-width: 400px) {
    //width: 97%;
  }

  .header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    position: relative;

    @media (max-width: 750px) {
      padding: 0 15px;
      height: 40px;
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      @media (max-width: 800px) {
        display: none;
      }
    }

    .burger {
      display: none;

      @media (max-width: 800px) {
        display: inline-flex;
      }
    }

    .socialNetworks {
      display: flex;
      justify-content: space-between;

      .socialIcon {
        height: 40px;
        width: 40px;
        margin-right: 20px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        @media (max-width: 800px) {
          height: 30px;
          width: 30px;
        }
        @media (max-width: 450px) {
          display: none;
        }
      }
    }
  }
}







