.skillsBlock {
    padding: 10px 10px 50px;

    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;

        .skills {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}
