@import "src/Common/Styles/SASS/Variables";
@import "src/Common/Styles/Mixins/Mixins";


.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  pointer-events: none;
  height: 70px;

  @media(max-width: 1030px) {
    gap: 10px;
  }
  @media(max-width: 363px) {
    gap: 5px;
  }

  .title {
    @include text($font, 18px, 1, 700);
    color: $textTitleColor;
    text-transform: uppercase;
    cursor: pointer;
    pointer-events: auto;

    @media(max-width: 570px) {
      font-size: 16px;
    }
  }

  .line {
    width: 30%;
    height: 3px;
    background-color: $textTitleColor;
    margin-right: auto;
    transform: scaleX(0.2);
    transform-origin: left;
    transition: transform 0.5s;

    @media(max-width: 1300px) {
      width: 25%;
    }
    @media(max-width: 1030px) {
      width: 20%;
    }
    @media(max-width: 800px) {
      width: 25%;
    }
    @media(max-width: 490px) {
      width: 15%;
      height: 2px;
    }
    @media(max-width: 350px) {
      display: none;
    }
  }

  .navList {
    display: flex;
    list-style: none;
    gap: 60px;

    @media (max-width: 1135px) {
      gap: 40px;
    }
    @media (max-width: 900px) {
      gap: 20px;
    }
    @media (max-width: 800px) {
      gap: 30px;
    }

    .navItem {
      opacity: 0;
      transition: transform 0.5s, opacity 0.5s;

      .navLink {
        img {
          width: 40px;
          height: 40px;
          transition: color 0.5s;

          @media (max-width: 570px) {
            width: 30px;
            height: 30px;
          }
        }

        &:hover .icon1 {
          transition: .5s ease-in-out all;
          filter: invert(36%) sepia(14%) saturate(1014%) hue-rotate(300deg) brightness(94%) contrast(93%);
        }

        &:hover .icon2 {
          transition: .5s ease-in-out all;
          filter: invert(73%) sepia(4%) saturate(3593%) hue-rotate(302deg) brightness(81%) contrast(80%);
        }

        &:hover .icon3 {
          transition: .5s ease-in-out all;
          filter: invert(78%) sepia(31%) saturate(6930%) hue-rotate(308deg) brightness(121%) contrast(87%);
        }
      }
    }

    .navItem:nth-child(odd) {
      transform: translateY(0.5rem);
    }

    .navItem:nth-child(even) {
      transform: translateY(-0.5rem);
    }
  }

  &:hover {
    pointer-events: auto;

    .line {
      transform: scaleX(1.5);
    }

    .navList {
      .navItem {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}


