.photo {
  width: 20%;
  height: calc(100vh - 60px);
  margin-top: 50px;
  background-image: url("../../Assets/Image/myPhoto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: sidebar;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;

  @media (max-width: 800px) {
    display: none;
  }
}

