.project {
    width: 450px;
    background-color: #816368;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    transition: all .3s ease;
    padding-top: 30px;
}

.icon {
    height: 200px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seeBtn {

}

.description {
    margin: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #7d7789;
    width: 80%;
}

.projectTitle {
    font-weight: 500;
    font-size: 24px;
    color: #333;
    margin: 0 0 5px;
    line-height: 1.2;
}
