@import "Common/Styles/SASS/Variables";

.appWrapper {
  margin: 5px 100px;
  max-width: 1600px;
  display: flex;
  position: relative;
  line-height: 1.7;
  letter-spacing: 0;
  word-wrap: break-word;
  font-weight: 400;
  font-family: $font;


    .appWrapperContent {
      overflow: auto;
      height: calc(100vh - 60px);
      margin-top: 50px;
      margin-left: 15px;
      background-color: $backgroundColor;

      @media (max-width: 1034px) {
        margin-left: 0;
      }
  }

}









