@import "Common/Styles/SASS/Variables";

.appWrapper {
  margin: 0 auto;
  width: 80%;
  position: relative;
  line-height: 1.7;
  letter-spacing: 0;
  word-wrap: break-word;
  font-weight: 400;
  font-family: $font;
  display: grid;
  grid-template-columns: 20%  75%;
  grid-template-rows: 1fr  14fr;
  grid-column-gap: 5%;
  grid-template-areas:
               "header  header"
               "sidebar content";

  @media (max-width: 800px) {
    grid-template-columns: 0%  100%;
    grid-column-gap: 0%;
  }
  @media (max-width: 750px) {
    width: 100%;
  }


  .appWrapperContent {
    grid-area: content;
    height: calc(100vh - 50px);
    margin-left: 15px;
    background-color: $backgroundColor;

    @media (max-width: 800px) {
      margin-left: 0px;
    }
    @media (max-width: 400px) {
      width: 112.8%;
    }
    @media (max-width: 350px) {
      width: 115%;
    }
    @media (max-width: 340px) {
      width: 117%;

    }
    @media (max-width: 335px) {
      width: 118%;
    }
    @media (max-width: 330px) {
      width: 120%
    }
    @media (max-width: 327px) {
      width: 122%
    }
    @media (max-width: 322px) {
      width: 123.5%
    }
  }
}









