.nav {
    border: 1px solid #1c1616;
    width: 300px;
    display: flex;
    justify-content: space-between;
}


/*
.nav {
    grid-area: n;
    background-color: #FFBC8B;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.item a{
    color: #ffffff;
    text-decoration: none;
}

.item a.activeLink {
    color: #ED5C1D;
}*/
