@import "src/Common/Styles/SASS/Variables";
@import "src/Common/Styles/Mixins/Mixins";

.contactsBlock {
  padding: 10px 10px;
  background-color: $backgroundColor;
  height: calc(70vh - 50px);

  .contactsContainer {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .form {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 25px;

      @media screen and (max-width: 500px) {
        width: 100%;
      }

      .inputWrapper {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        .input, .textarea {
          border: 1px solid $lineColor;
          background-color: transparent;
          padding: 5px 12px;
          @include text($font, 14px, 6px, 300);
          color: $textTitleColor;

          &:active,
          &:focus {
            outline: none !important;
          }
        }

        .textarea {
          min-height: 80px;
        }
      }

      input:focus-within ~ label,
      input:not(:placeholder-shown) ~ label,
      textarea:focus-within ~ label,
      textarea:not(:placeholder-shown) ~ label {
        @include text($font, 14px, 1, 300);
        color: $lineColor;
        transform: translateY(-23px);
      }

      label {
        position: absolute;
        top: 1px;
        left: 1px;
        display: inline-block;
        padding: 7px 12px;
        transition: 0.5s;
        pointer-events: none;
        @include text($font, 16px, 1, 300);
        color: $textDescriptionColor;
      }
    }
  }
}









