@import "../Common/Styles/SASS/Variables";

.projectsBlock {
  background-color: $backgroundColor;
  padding: 10px 10px 50px;

  .projectsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media screen and (max-width: 1248px) {
        justify-content: center;
      }
    }
  }
}



