.projectsBlock {
    background-color: #fff7f7;
    padding: 100px 0;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.projects {
    width: 100%;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1130px) {
    .projects {
        justify-content: center;

    }
}
